* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #f3e6d8;
  overflow-x: hidden;
}

.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.p1 {
  inset: -150;
  width: 280px;
  height: 280px;
  margin: auto;
  background-image: url("../photo/background.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  border-radius: 30%;
  border: 8px, double, gainsboro;
  overflow: visible;
  box-shadow:
    0 0 0 8px rgba(255, 255, 255, 0.6),
    0 12px 35px rgba(0, 0, 0, .15),
    0 0 25px rgba(214, 194, 165, 0.4);


  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: fadeScale 1.5s ease;
}



@keyframes fadeScale {
  from {
    opacity: 0;
    transform: scale(1.25);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


.p1::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(168, 156, 156, 0.25);
  border-radius: 50%;

}

.p1::after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  animation: rotateBorder 1.75s ease-in-out 1;
}

@keyframes rotateBorder {
  0% {
    transform: rotate(0deg);
    border: 10px dotted;

  }

  50% {
    border: 3px solid transparent;
    border-top-color: #7e8512;
    border-bottom-color: #4e5307;
  }

  100% {
    transform: rotate(360deg);
    border: 0px;

  }
}

.content {
  text-align: center;
  justify-content: center;
  background: bottom;
}


.content strong {
  color: rgba(72, 17, 119, 0.25);
}

.content h1 {
  color: rgb(72, 17, 119);
  margin: auto auto 10px;
  padding-top: 10px;
  font-size: xxx-large;
}

.calender {
  box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
}

.month {
  display: block;
  background: #c9b08a;
  color: white;
  padding: 6px;
  font-size: 20px;
  font-weight: bold;

}

.day {
  display: block;
  color: #333;
  margin: 10px auto;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 10px;

}

.text1 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0px;
  font-style: italic;
  padding: 5px 0;
}

.text1 i {
  color: rgb(167, 4, 4);
  margin-top: 0px;

  display: inline-block;
  animation: heartbeat 2s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.3);
  }

  40% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}


.title {
  font-size: larger;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 0;
}

.title strong {
  font-weight: 900;
  color: #b84b24;
  font-size: x-large;
  height: 1.2;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 15px 0;
}

.divider span {
  width: 60px;
  height: 1.5px;
  background: #d6c2a5;
}

.divider i {
  color: #d6c2a5;
  font-size: 14px;
}

.HANNA_content {
  display: flex;
  position: relative;
  justify-content: space-around;

}

.HANNA_content::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, .6);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, .06);
  border-radius: 15px;
  border-bottom: none;
  border-top: none;
}

.details {
  padding-top: 3%;
}

.p2 {
  width: 40%;
  max-width: 250px;
  border-radius: 30PX;
  margin: 10px 5px 10px auto;
  position: relative;
  inset: 0;
  transform: scale(1);
  box-shadow: 0 8px 25px rgba(0, 0, 0, .12);
}




.details span {
  font-size: large;
}

.details b {
  color: #b84b24;
  font-weight: 900;
  font-size: xx-large;
  font-style: italic;
}

.details i {
  margin: 10px;
  font-size: 23px;
  color: #d6c2a5;

}

.invite p {
  margin: 10px 15px 5px;
  line-height: 1.3;
  font-weight: bold;
  text-align: center;
  font-family: 'cormorant garamond';
}


.invite b {
  color: rgb(154, 25, 25);
  font-size: 23px;
}



.location-icon,
.location-icon2 {
  cursor: pointer;
  transition: .3s;
}

.location-icon:hover,
.location-icon:focus,
.location-icon2:hover,
.location-icon2:focus {
  color: #e63946;
  transform: scale(1.3);
  filter: drop-shadow(0 0 10px #e63946);
}



.location-icon,
.location-icon2 {
  animation: mapPulse 2s infinite;
}

.location-opened {
  animation: none;
}

@keyframes mapPulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    color: red;
  }
}




hr {
  height: 1px;
  width: 70%;
  background: linear-gradient(to right,
      transparent,
      #d6c2a5,
      transparent);
  margin: 30px auto;
}

.WEDDING_content {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.WEDDING_content::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, .6);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, .06);
  border-radius: 15px;
  border-left: none;
  border-right: none;
}

.countdown-box {
  text-align: center;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 2.1vw;
  flex-wrap: wrap;
  margin: auto;
}

.time-card {
  width: 85px;
  height: 115px;
  min-height: 110px;
  background: linear-gradient(145deg,
      #ffffff,
      #f8f4ef);
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, .08),
    inset 0 1px 2px rgba(255, 255, 255, 0.9);
  align-items: center;
  padding-top: 35px;
  border: 1px, solid, rgba(214, 194, 165, 0.4);
  transition: all 0.3s ease;
}

.time-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, .12);
}

.time-card span {
  font-size: 36px;
  font-weight: 700;
  color: #444;
}

.time-card p {
  color: #8f7a5a;
  font-size: 14px;
  margin-top: 30px;
  letter-spacing: 1px;
}

#date-box {
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

#special-message {
  font-family: cursive;
  margin: auto;
  color: #b89c74;
  font-size: 35px;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.story {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 30px auto 20px;
  justify-content: center;
  align-items: center;
}

.story p {
  margin-bottom: 0px;
}


.story::before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, .6);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, .06);
  border-radius: 15px;
  border-top: none;
}

.moment {
  display: flex;
  justify-content: center;
  height: 250px;
  gap: 7px;
  overflow: hidden;
  max-width: 100%;
}

.moment img {
  cursor: pointer;

  filter: grayscale(35%);
  transition: all .4s ease;

}

.moment img:nth-child(2) {
  filter: grayscale(10%);
  border-radius: 25px;
  padding: 7px 0px;

}


.moment :hover {
  transform: scale(1.08);
  filter: grayscale(0%);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, .15);
}





.heart-icon {
  cursor: pointer;
  transition: .3s;
  color: gray;
  animation: pulse 2s infinite;
  margin: 10px auto;
}



.heart-icon.liked {
  color: red;
  animation: none;
}

@keyframes pulse {
  100% {
    transform: scale(1);
  }

  0% {
    transform: scale(1.2);
  }
}

.message {
  width: 90%;
  margin: 40px auto;
  padding: 30px 20px;

  background: rgba(255, 255, 255, .6);

  border-radius: 25px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, .08);

  text-align: center;
}

.message .title {
  font-size: larger;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 0;
}

.message-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name-box,
.comment-box {
  position: relative;
}

.name-box i,
.comment-box i {
  position: absolute;
  top: 50%;
  left: 20px;

  transform: translateY(-50%);

  color: #b84b24;
  font-size: 20px;
}

.name-box input,
.comment-box textarea {

  width: 100%;

  padding: 18px 20px 18px 55px;

  border: 1px solid #d6c2a5;

  border-radius: 18px;

  outline: none;

  font-size: 18px;

  background: #fff;
}


.message button {
  position: relative;

  width: fit-content;

  margin: auto;

  padding: 15px 35px;

  border: 2px solid transparent;
  border-top-color: #4e5307;
  border-bottom-color: #4e5307;
  border-radius: 50px;

  background: #b84b24;

  color: white;

  font-size: 18px;

  cursor: pointer;

  transition: .3s;
}

.message button:hover {
  transform: translateY(-3px);

  box-shadow: 0 8px 20px rgba(184, 75, 36, .3);
}

.submit-btn {
  position: relative;
  padding: 12px 25px;
  border: 2px solid #000;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
}



.footer {
  display: flex;
  background: linear-gradient(135deg,
      #ffffff,
      #f8f4ef);
  margin: 30px auto 10px;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, .08);
  border: 1px solid rgba(214, 194, 165, 0.4);
  background-color: black;
}

.footer span {
  color: #8f7a5a;
  font-size: 14px;
  letter-spacing: 1px;
}

.footer #whatsapp-icon {
  font-size: 20px;
  color: #25D366;
  cursor: pointer;
  transition: 0.3s;
}

#whatsapp-icon:hover {
  transform: scale(1.2) rotate(8deg);
  color: #128C7E;
}